# ---> Go
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.rar

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.env

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
vendor/
bin/
statik/
log/
doc/
backup/
.tmp.driveupload
.tmp.drivedownload
.idea